<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Terminating Direct Associations

    <a data-toggle="collapse" href="#model_terminating_direct_associations_new_form">
      Add direct association
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @model.terminating_direct_associations.each do |direct_association| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <%= link_to direct_association.to_s, direct_association_path(direct_association) %>
        <!-- Show link end -->

        <!-- Delete link start -->
        <%= link_to direct_association, method: :delete, data: { confirm: "Do you really want to delete this direct_association" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="model_terminating_direct_associations_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "models/model_terminating_direct_associations_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
