<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Direct Origin Models
  </div>

  <ul class="list-group list-group-flush">
    <% @model.direct_origin_models.each do |model| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/models/<%= model.id %>">
          <%= model.name %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
