<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Associations
  </div>

  <ul class="list-group list-group-flush">
    <% @idea.associations.finished.each do |association| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to association.to_s, association_path(association) %>

        <%= link_to association, method: :delete, data: { confirm: "Do you really want to delete this association" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>
  </ul>
</div>
