<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Indirect Associations As Source

    <a data-toggle="collapse" href="#association_indirect_associations_as_source_new_form">
      Add association
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @association.indirect_associations_as_source.each do |association| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <%= link_to association.to_s, association_path(association) %>

        <%= link_to association, method: :delete, data: { confirm: "Do you really want to delete this association" } do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="association_indirect_associations_as_source_new_form">
        <%= render partial: "associations/association_indirect_associations_as_source_new_form" %>
      </div>
    </div>

  </ul>
</div>
