<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @association, partial: "card", as: :association %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <% if @association.belongs_to? %>

<%= render "belongs_to_accessor", language: :ruby %>

    <% elsif true %>
      <pre>
        <code>
    

<% formatter = Rouge::Formatters::HTML.new %>
<% formatter = Rouge::Formatters::HTMLPygments.new(formatter, css_class='codehilite') %>
<% lexer = Rouge::Lexers::Ruby.new %>
<%= formatter.format(lexer.lex(render "belongs_to_accessor")).html_safe %>
        </code>
      </pre>
    <% elsif true %>

my_comments = self.comments

array_of_photo_ids = Array.new

my_comments.each do |a_comment|
  array_of_photo_ids.push(a_comment.photo_id)
end

matching_photos = Photo.where({ :id => array_of_photo_ids })

unique_matching_photos = matching_photos.distinct

return unique_matching_photos
        </code>
      </pre>
    <% elsif true %>
      <pre>
        <code>
array_of_photo_ids = Array.new

my_leaders = self.leaders

my_leaders.each do |a_user|
  leader_own_photos = a_user.own_photos


  leader_own_photos.each do |a_photo|
    array_of_photo_ids.push(a_photo.id)
  end
end

matching_photos = Photo.where({ :id => array_of_photo_ids })

return matching_photos
        </code>
      </pre>
    <% end %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_source" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_source" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_through" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_through" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_source" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_source" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_source" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_source" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_through" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_through" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_through" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%#= render partial: "associations/association_indirect_associations_as_through" %>
  </div>
</div>
